<div class="home-page">
  <div class="home-page-header">
  </div>

  <div class="home-page-body">
    <div class="container">
      <h1 class="h1-home home-header-heading">Track Gran Turismo race
points with friends.</h1>
      <div class="home-page-sign-up">
        <a href="/users/sign_up">Get Started</a>
      </div>
    </div>
  </div>
</div>

<footer class="footer"><p>Copyright © 2022 GT Grand Prix<p></footer>
